services:
  mongo:
    image: mongo:7.0
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_DATABASE=tododb
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

  backend:
    image: go-to-do-server:${VERSION:-latest}
    build:
      context: ./go-server
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    container_name: go-server
    restart: always
    environment:
      - PORT=8080
      - DB_URI=mongodb://mongo:27017/tododb
      - DB_NAME=tododb
      - DB_COLLECTION_NAME=todolist
    depends_on:
      - mongo
    networks:
      - app-network

  frontend:
    image: go-to-do-client:${VERSION:-latest}
    build:
      context: ./client
      dockerfile: Dockerfile
      args:
        - REACT_APP_API_URL=http://localhost:8080
    ports:
      - "3000:8080"
    container_name: react-client
    restart: always
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mongo-data:
    driver: local
